/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.0px;

.register-name {
  margin-bottom: 20px;
}

.home>header .title>.heading-group p {
  margin-bottom: 0;
  text-transform: none;
}

.dashboard .main-container {
  padding: 8px;
}

.dashboard .main-container .my-courses .listing-courses .course-item .course-container {
  border-radius: 16px;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-image .cover .course-image, .dashboard .main-container .my-courses .course .details .wrapper-course-image a.fade-cover .course-image {
  border-radius: 16px;
  max-height: 146px;
}

.user-image-frame {
  border-radius: 50%;
}

.course-card-info {
  padding-bottom: 8px;
}

.course-search {
  display: none;
}

.course-discover-card {
  box-shadow: none;
  border-style: solid;
  border-radius: 16px;
  border-width: 1px;
  border-color: #e7e7e7;
}

.course-discover-card-title {
  padding: 4px 8px;
  text-align: center;
  color: #5d0e81;
  border-radius: 16px;
  display: table;
  margin-right: auto;
  margin-top: 8px;
  margin-left: auto;
  font-weight: 500;
}

.course-discover-card-hero {
  border-radius: 16px 16px 0 0;
  width: 100%;
  object-fit: cover;
}

.course-image {
  object-fit: fill;
  object-position: top;
  border-radius: 16px;
}

.code-editor-img-ctr {
  margin-top: 24px;
  margin-bottom: 24px;
}

.box-highlight {
  background-color: dimgray;
}

.box-highlight-header {
  color: white;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.box-highlight-body {
  color: white;
  margin-left: 24px;
  margin-top: 16px;
}

.box-highlight
body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 6px;
}

%t-title {
  font-family: $font-family-title;
  width: 100%;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  padding: 0 0px 10px;
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header
header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
    overflow: visible; // fix for Safari
  }
  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 6px;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

/////////////////// Sign in / register form
#enterprise-login {
  display: none;
}

.enterprise-login {
  display: none;
}
.login-register .form-field {
  // Hide "Sign in with your company or school link"
  button.enterprise-login {
    display: none;
  }
}

#login, #register{
  font-family: $font-family-title;
  width: 100%;
  margin: 0 auto;
  color: #313131
}

.login-email {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F495E;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D9DEE3;
  appearance: none;
  border-radius: 0.188rem;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#login-email, #login-password, #register-name, #register-username, #register-email, #register-password {
  display: block;
  width: 100%;
  padding: 0.625rem 1rem;
  line-height: 1.5;
  color: #3F495E;
  font: normal 1rem Roboto;
  font-family: Roboto, sans-serif;
  margin-bottom: 20px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #D9DEE3;
  appearance: none;
  border-radius: 0.188rem;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#login-form > div > div:nth-child(1) > h3, #register-form > div > div:nth-child(1) > h3{
  margin-left: 50px;
}

#login-button, #register-button{
  color: #fff;
  background-color: #5c0e81;
  border:none;
  height: 45px;
  text-align: center;
  padding: 0.75rem 1.563rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#login-form > div > div:nth-child(1) > div.toggle-form, 
#register-form > div > div:nth-child(1) > div.toggle-form{
  font-weight: 600;
  margin: 5px 0px;
  display: flex;
  justify-content: center; 
}


#login > div.form-field.password-password, #login > div.form-field.email-email{
  display: flex;
  flex-direction: column;
}


#login > div.form-field.password-password > button{
  background-image: none;
  border: none;
  color: #313131;
  text-shadow: none;
  box-shadow: none;
  padding: 10px 0;
  background-color: transparent;
  font-size: 12px;
  text-align: left;
}


#login > div.form-field.email-email > label, 
#login > div.form-field.password-password > label, 
#register > div > div.required-fields > div.form-field.text-name > label, 
#register > div > div.required-fields > div.form-field.text-username > label,
#register > div > div.required-fields > div.form-field.email-email > label, 
#register > div > div.required-fields > div.form-field.password-password > label { 
 
  width: 100%;
  text-align: left;
  font-family: $font-family-title;
  margin-top: 10px;
}

#login > div.form-field.email-email > label > span.label-text, 
#login > div.form-field.password-password > label > span.label-text,
#register > div > div.required-fields > div.form-field.text-name > label > span.label-text, 
#register > div > div.required-fields > div.form-field.text-username > label > span.label-text,
#register > div > div.required-fields > div.form-field.email-email > label > span.label-text, 
#register > div > div.required-fields > div.form-field.password-password > label > span.label-text,
#register > div > div.form-field.checkbox-optional_fields_toggle > label > span,
#register > div > div.form-field.checkbox-terms_of_service > label > span.label-text,
#register-form > div > div:nth-child(1) > div > div:nth-child(2) > div.js-form-feedback > div,
#login-form > div > div:nth-child(1) > div.js-form-feedback > div,
#register-form > div > div:nth-child(1) > div.js-form-feedback > div > h4,
#register-form > div > div:nth-child(1) > div.js-form-feedback > div > ul,
#login-form > div > div:nth-child(1) > div.js-form-feedback > div > h4,
#login-form > div > div:nth-child(1) > div.js-form-feedback > div > ul{
  font-style: normal;
  font-family: $font-family-title;
}

#register-terms_of_service-required-label{
  font-family: $font-family-title;
}

#register > div > div.form-field.checkbox-optional_fields_toggle, #register > div > div.form-field.checkbox-terms_of_service{
  display: flex;
  margin-top: 10px
}

#toggle_optional_fields, #register-terms_of_service{
  margin: 5px;
}

#register-form > div > div:nth-child(1) > h2,
#login-form > div > div:nth-child(1) > h2,
#login-form > div > div:nth-child(1) > div.js-form-feedback,
#register-form > div > div:nth-child(1) > div.js-form-feedback,
#register > div > div.form-field.checkbox-optional_fields_toggle > label,
#register > div > div.form-field.checkbox-terms_of_service > label{
  display: inline-block; 
  text-align: left;
  color: #313131;
}

#login-form > div > div:nth-child(1) > div.js-form-feedback > div,
#register-form > div > div:nth-child(1) > div.js-form-feedback > div{
  margin-top: 10px;
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
  width: 100%;
  margin-left: 0%;
  padding: 20px 0px;
}

.home > header .outer-wrapper {
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}

.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.home .courses-container .courses .courses-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .courses-listing-item {
    margin: 0 20px 30px 20px;
    // Fix right margin
    &:nth-child(4n), &:last-child {
      margin-right: 20px;
    }
  }
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
  // It is necessary to specify `nav` in order to override the common higher priority rule
  @include media-breakpoint-up(lg) {
    margin-top: $header-height;
  }
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }

  .details .inner-wrapper > section {
    margin-bottom: 0;
  }

  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }

    strong {
      background-image: none;
      border-radius: 0;

      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}

.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}

.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}

.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

.outer-wrapper {
  width: 100%;
  max-width: 100%;
}

/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;

  .wrapper-logo {
    display: none;
  }

  .copyright {
    display: none;
  }

  .nav-legal ul {
    display: inline-block;
  }

  footer#footer-openedx .footer-about-openedx {
    a {
      float: none;
    }

    p {
      text-align: right;
    }

    .footer-social {
      margin: 37.5px;
      position: relative;
      bottom: 0;
    }

    .footer-social-image {
      margin-left: 4px;
      margin-right: 4px;
    }
  }
}