<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/css/bootstrap.min.css" integrity="sha512-aqT9YD5gLuLBr6ipQAS+72o5yHKzgZbGxEh6iY8lW/r6gG14e2kBTAJb8XrxzZrMOgSmDqtLaF76T0Z6YY2IHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>

<div class="row">
    <h1>How we will support you</h1>
    <p style="margin-top:24px;margin-bottom:10px">Here at Empowr Co, we want to make sure all our students are set up to
        succeed which is why we ensure anyone accepted on the program has access to necessary equipment/tools</p>
    <div class="container">
        <div class="row gx-2">
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/girl_studying_with_laptop-2.jpeg"
                         alt="Girl studying" style="width:100%">
                    <p style="margin-top:10px">Laptop</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/headphones.jpeg"
                         alt="Headphones" style="width:100%">
                    <p style="margin-top:10px">Headphones</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/internet.jpg"
                         alt="Internet" style="width:100%">
                    <p style="margin-top:10px">Internet Grants</p>
                </div>
            </div>
        </div>
        <div class="row gx-2">
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/networking.jpeg"
                         alt="Group of people networking" style="width:100%">
                    <p style="margin-top:10px">Business Networking</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img-responsive" src="https://d2l03dhf2zcc6i.cloudfront.net/images/mentoring.jpeg"
                         alt="Mentoring" style="width:100%">
                    <p>Mentorship</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="p-3">
                    <img class="img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/graduation.jpeg"
                         alt="Girl with a graduation hat" style="width:100%">
                    <p>Career Readiness</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row box-highlight">
    <div class="col-md-4" style="padding: 0;">
        <h1 class="box-highlight-header">Hands on learning</h1>
        <p class="box-highlight-body" style="color:white; text-align: center;margin-left: 16px; margin-right: 16px">Our
            platform removes the physical requirements to learn development by allowing you to code directly in the
            browser. Practice sample problems and submit your code assignments on the web.</p>
    </div>
    <div class="col-md-8">
        <img class="code-editor-img" src="https://d2l03dhf2zcc6i.cloudfront.net/images/secure_the_bag.png"
             style="margin-top:24px;margin-bottom:24px;border-radius:16px;height:540px;border-style: solid;border-color: black" alt="Code Editor Image">
    </div>
</div>